#container {
	border:		1px solid black;
	margin-top:	2.5em;
}

#container:focus {
	outline:	none;
}

#menuBar {
	color:		white;
	
	font-family:	sans;

	vertical-align:	middle;

	position:		fixed;
	top:			0px;
	left:			0px;
	right:			0px;
	margin:			0px;
	padding:		0.5em;

	background-color:	black;	
	background-image: 	url(../../packages/browserKit/widgetKit/graphics/toolbar.png);
	background-repeat:	repeat-x;

	height:			1em;
}
