div#testBox {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 2em;
	background: black;
	vertical-align: middle;
	text-align: center;
	color: white;
	float: left;
	padding-top: 0.5em;
}

span#testIdentifier {
	vertical-align: middle;
}

a#testLink {
	vertical-align: middle;
}

select#testSel {
	vertical-align: middle;
	width: 300px;
}

div#bodyField {
	position: absolute;
	top: 2em;
}
